@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body,html{
    width: 100vw;
    height: 100vh;
    background-color: #026302;
}
body{
    background: url('../imagens/redes-sociais.png') center center no-repeat fixed ;
background-size: cover;
}
main{
     position: relative;
    height: 100vh;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 311px;
    height: 627px;
    background: url('../imagens/frame-iphone.png') center center no-repeat  fixed ;
    background-size: cover;
}
iframe#tela{
    position: relative;
    top: 80px;
    left:22px ;
width: 269px;
height: 471px;
}

section img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #00000077;
    box-sizing: border-box;
}
section#redes-sociais img:hover{
border: 2px solid #00000054;
transform: translate(-3px,-3px);
}